In [ ]:
# list
# list is a collection of elements of different as well as same datatype
# list is mutable ----changes allowed
# list is ordered collection
# list is defined in []

In [ ]:
list1=[254,56.32,True,"String",[45,25,12],(14,15),{1,2,3},{1:"hello",2:"Oput"}]
print(list1)
print(list1[3][2])

In [1]:
list1=[14,56,89,74,58,45]
list1[3]="hello"
print(list1)

[14, 56, 89, 'hello', 58, 45]

In [ ]:
str1="Fern jkbrtkjb mngbjhrtb fmnb jhvrtbj jhgfbrt"list is a collection of elements of different as well as same datatype

In [ ]:
list1=[1,5,4,87,8,96,5,48,6,21,6,56,74]
print(list1[4:9])
list1[4:9]=range(100,500,52)
print(list1)

In [ ]:
                                    # 20-04-2023 

# list functions
# functionname(listname)
len() ---gives lenght of list
min() ---gives minimum value from list
max() ---gives maximum value from list
list() ---chnages other iterable into list

iterable---collection

range()
string
list
tuple
set 
dictionary

In [1]:
# len()
list1=[45,89,65,21,45,78,96,32,56,96]
x=len(list1)
print(f"Lenght of list is {x}")

Lenght of list is 10

In [2]:
#len()
list1=[45,89,65,21,45,78,96,32,56,96]
len(list1)

10

In [3]:
#min
list1=[45,89,34,67,89,96]    #baisi of maths rule
min(list1)

34

In [5]:
list1=["apple","banana","mango"]
min(list1)

'apple'

In [3]:
list1=[45,36,56,"hello",45,"demo","GREAT HERITAGe"]    # TypeError
min(list1)

TypeError: '<' not supported between instances of 'str' and 'int'

In [4]:
#max
list1=[45,89,34,67,89,96]  #basis of maths value
max(list1)

96

In [6]:
list1=["apple","banana","mango"]   #basis of ascii value
max(list1)

'mango'

In [7]:
list1=[45,36,56,"hello",45,"demo","GREAT HERITAGe"]  # TypeError
max(list1)

TypeError: '>' not supported between instances of 'str' and 'int'

In [8]:
list((45,23,"hello","wow"))

[45, 23, 'hello', 'wow']

In [ ]:
#list methods
listname.methodname(perameters)

In [ ]:
list methods
append()
extend()
insert()
pop()
remove()
index()
count()
sort()
clear()
copy()
reverse()

In [8]:
#append (element)  --add element at last of list
list1=[45,69,87,43,56]
list1.append([45,68,78])
print(list1)

[45, 69, 87, 43, 56, [45, 68, 78]]

In [10]:
#extend (iterable)  ---add iterable at last of list as an individual element
list1=[45,69,87,43,56]
list1.extend([45,68,78])
print(list1)

[45, 69, 87, 43, 56, 45, 68, 78]

In [11]:
# insert(index,element)--add element at particular index
list1=[45,69,87,43,56]
list1.insert(3,"hello")
print(list1)

[45, 69, 87, 'hello', 43, 56]

In [10]:
#append (element)
num=int(input("how many element enterd in list :"))
#num=int(input("Enter number: "))
list1=[]
for i in range(num):
    value=input("Enter Value: ")
    list1.append(value)
    
print(list1)

how many element enterd in list :7
Enter Value: hello
Enter Value: avani
Enter Value: tejani
Enter Value: 12345
Enter Value: 09876
Enter Value: 1m
Enter Value: ~!@#$%^&*
['hello', 'avani', 'tejani', '12345', '09876', '1m', '~!@#$%^&*']

In [15]:
#pop ([index]) ---removes element from particular index if index is not given then it removes last element

list1=[23,5,67,345,69,45,546,85,63]
list1.pop(3)
print(list1)

# list1.pop()
# print(list1)

# list1.pop(524)
# print(list1)

[23, 5, 67, 345, 69, 45, 546, 85]

In [13]:
# remove(element)----removes first occurence of element in list

list1=[45,36,58,96,45,12,36,54,56,89,89,865,86]
list1.remove(45)
print(list1)

# list1.remove(4558) --# ValueError 
# print(list1)

[36, 58, 96, 45, 12, 36, 54, 56, 89, 89, 865, 86]

In [1]:
# List slicing in Python with googale

my_list = ['p','r','o','g','r','a','m','i','z']

# items from index 2 to index 4
print(my_list[2:5])

# items from index 5 to end
print(my_list[5:])

# items beginning to end
print(my_list[:])

['o', 'g', 'r']
['a', 'm', 'i', 'z']
['p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z']

In [2]:
prime_numbers = [2, 3, 5]
print("List1:", prime_numbers)

even_numbers = [4, 6, 8]
print("List2:", even_numbers)

# join two lists
prime_numbers.extend(even_numbers)

print("List after append:", prime_numbers)

List1: [2, 3, 5]
List2: [4, 6, 8]
List after append: [2, 3, 5, 4, 6, 8]

In [3]:
languages = ['Python', 'Swift', 'C++', 'C', 'Java', 'Rust', 'R']

# remove 'Python' from the list
languages.remove('Python')

print(languages)

['Swift', 'C++', 'C', 'Java', 'Rust', 'R']

In [20]:
# sample list 
lst1 = [11,22,33] 
net = sum(lst1) 
print (net)

66

In [39]:
#list1=[10,7,20,0,50,100,70,68,-100,-25,-93,93] 
# creating an empty list
lst = []
 
# number of elements as input
n = int(input("Enter number of elements : "))
 
# iterating till the range
for i in range( n):
    ele = int(input())
    larg = max(list1)  #-----------------#baisi function  of max() maths rule
    small = min(list1) #-----------------#baisi function  of min() maths rule
    total = sum(list1) #-----------------#baisi function  of sum() maths rule

# list1=[2,3,4,5,6,7,8,9,1,10]
# larg = max(list1)  #-----------------#baisi function  of max() maths rule
# small = min(list1) #-----------------#baisi function  of min() maths rule
# total = sum(list1) #-----------------#baisi function  of sum() maths rule

print(f"largest number of list is {larg}")
print(f"smallest number of list is {small}") 
print(f"sum number of list is {total}")

Enter number of elements : 2
3

ValueError: max() arg is an empty sequence

In [55]:
num=int(input("how many element enterd in list :"))

list1=[]
for i in range(num):
    value=input("Enter Value: ")
    list1.append(value)
    
print(list1)

print(f"largest number of list is :{max(list1)} ") #-----------------#baisi function  of max() maths rule
print(f"smallest number of list is :{min(list1)}") #-----------------#baisi function  of max() maths rule
sum(list1)#-----------------#baisi function  of max() maths rule

how many element enterd in list :5
Enter Value: 6
Enter Value: 7
Enter Value: 8
Enter Value: 9
Enter Value: 3
['6', '7', '8', '9', '3']
largest number of list is :9
smallest number of list is :3

In [53]:
st = []
num = int(input('How many numbers: '))
for n in range(num):
    numbers = int(input('Enter number '))
    lst.append(numbers)
print("Maximum element in the list is :", max(lst), "\nMinimum element in the list is :", min(lst),"sum number of list is :",sum(list1))

How many numbers: 5
Enter number 4
Enter number 5
Enter number 6
Enter number 7
Enter number 8

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [1]:

#22-04-2023

list1=[23,45,67,98,90,34,12,45,56,89,90,45]
#count the elements in list 
#a=list1.count(999)
#index--gives the index of elements of first occurence
a=list1.index(45)
print(a)

1

In [2]:
list1=[45,56,78,990,98,76,54,45]
#converts list in ascending order
list1.sort()
list1.sort(reverse=True)
print(list1)

[990, 98, 78, 76, 56, 54, 45, 45]

In [5]:
#copy

list1=[45,23,69]
list2=list1.copy()
#list2=list1
#in this type of copy only reference is generated
print(list1)
print(list2)
list1[2]="hello"
print(list1)
print(list2)

[45, 23, 69]
[45, 23, 69]
[45, 23, 'hello']
[45, 23, 69]

In [6]:
list1=[12,34,56,78,90,87,65,343]
list1.reverse()
print(list1[::-1])
print(list1)

[12, 34, 56, 78, 90, 87, 65, 343]
[343, 65, 87, 90, 78, 56, 34, 12]

In [7]:
list1=[23,45,77]
list1.clear()
print(list1)

[]

In [ ]:
list1=[45,98,"wow",45,True,89.45,"hello"]

In [12]:
list1=[9,45,78,98,97,23,24,100,90]
num=int(input("enter number :"))
for i in list1:
    if(i/9==0)
    print(i)

SyntaxError: expected ':' (3317672239.py, line 4)

In [1]:
list1=[2,3,6,6,5]
list1=set(list1)
list1=list(list1)
list1.sort()
print(list1[-2])

5