In [ ]:
# list
# list is a collection of elements of different as well as same datatype
# list is mutable ----changes allowed
# list is ordered collection
# list is defined in []

In [ ]:
list1=[254,56.32,True,"String",[45,25,12],(14,15),{1,2,3},{1:"hello",2:"Oput"}]
print(list1)
print(list1[3][2])

In [ ]:
list1=[14,56,89,74,58,45]
list1[3]="hello"
print(list1)

In [ ]:
str1="Fern jkbrtkjb mngbjhrtb fmnb jhvrtbj jhgfbrt"list is a collection of elements of different as well as same datatype

In [ ]:
list1=[1,5,4,87,8,96,5,48,6,21,6,56,74]
print(list1[4:9])
list1[4:9]=range(100,500,52)
print(list1)

In [ ]:
# list functions
# functionname(listname)
len() ---gives lenght of list
min() ---gives minimum value from list
max() ---gives maximum value from list
list() ---chnages other iterable into list

iterable---collection

range()
string
list
tuple
set 
dictionary

In [1]:
# len()
list1=[45,89,65,21,45,78,96,32,56,96]
x=len(list1)
print(f"Lenght of list is {x}")

Lenght of list is 10

In [2]:
#len()
list1=[45,89,65,21,45,78,96,32,56,96]
len(list1)

10

In [3]:
#min
list1=[45,89,34,67,89,96]    #baisi of maths rule
min(list1)

34

In [5]:
list1=["apple","banana","mango"]
min(list1)

'apple'

In [3]:
list1=[45,36,56,"hello",45,"demo","GREAT HERITAGe"]    # TypeError
min(list1)

TypeError: '<' not supported between instances of 'str' and 'int'

In [4]:
#max
list1=[45,89,34,67,89,96]  #basis of ascii value
max(list1)

96

In [6]:
list1=["apple","banana","mango"]   #basis of ascii value
max(list1)

'mango'

In [7]:
list1=[45,36,56,"hello",45,"demo","GREAT HERITAGe"]  # TypeError
max(list1)

TypeError: '>' not supported between instances of 'str' and 'int'

In [8]:
list((45,23,"hello","wow"))

[45, 23, 'hello', 'wow']

In [ ]:
#list methods
listname.methodname(perameters)

In [ ]:
list methods
append()
extend()
insert()
pop()
remove()
index()
count()
sort()
clear()
copy()
reverse()

In [8]:
#append (element)  --add element at last of list
list1=[45,69,87,43,56]
list1.append([45,68,78])
print(list1)

[45, 69, 87, 43, 56, [45, 68, 78]]

In [10]:
#extend (iterable)  ---add iterable at last of list as an individual element
list1=[45,69,87,43,56]
list1.extend([45,68,78])
print(list1)

[45, 69, 87, 43, 56, 45, 68, 78]

In [11]:
# insert(index,element)--add element at particular index
list1=[45,69,87,43,56]
list1.insert(3,"hello")
print(list1)

[45, 69, 87, 'hello', 43, 56]

In [10]:
#append (element)
num=int(input("how many element enterd in list :"))
#num=int(input("Enter number: "))
list1=[]
for i in range(num):
    value=input("Enter Value: ")
    list1.append(value)
    
print(list1)

how many element enterd in list :7
Enter Value: hello
Enter Value: avani
Enter Value: tejani
Enter Value: 12345
Enter Value: 09876
Enter Value: 1m
Enter Value: ~!@#$%^&*
['hello', 'avani', 'tejani', '12345', '09876', '1m', '~!@#$%^&*']

In [15]:
#pop ([index]) ---removes element from particular index if index is not given then it removes last element

list1=[23,5,67,345,69,45,546,85,63]
list1.pop(3)
print(list1)

# list1.pop()
# print(list1)

# list1.pop(524)
# print(list1)

[23, 5, 67, 345, 69, 45, 546, 85]

In [13]:
# remove(element)----removes first occurence of element in list

list1=[45,36,58,96,45,12,36,54,56,89,89,865,86]
list1.remove(45)
print(list1)

# list1.remove(4558) --# ValueError 
# print(list1)

[36, 58, 96, 45, 12, 36, 54, 56, 89, 89, 865, 86]