In [1]:
# while loop
i=0
while i<10:
    print("yes" + str(i))
    i=i+1

yes0
yes1
yes2
yes3
yes4
yes5
yes6
yes7
yes8
yes9

In [3]:
i=1
while i<=50:
    print (i)
    i=i+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [13]:
i=0
while i<5:
    print("Avani")
    i=i+1

Avani
Avani
Avani
Avani
Avani

In [14]:
fruits=['Grapes','Watermelon','Apple','Mangoes','Orenge']
i=0
while i<len(fruits):
    print(fruits[i])
    i=i+1

Grapes
Watermelon
Apple
Mangoes
Orenge

In [15]:
fruits=['Grapes','Watermelon','Apple','Mangoes','Orenge']
for item in fruits:
    print(item)

Grapes
Watermelon
Apple
Mangoes
Orenge

In [19]:
for i in range(2,8):
    print(i)

# for i in range(1,8,2):
#     print(i)

2
3
4
5
6
7

In [22]:
for i in range(10):
    print(i)
else:
    print("this is insid else of for")

0
1
2
3
4
5
6
7
8
9
this is insid else of for

In [29]:
for i in range(10):
    print(i)
    if i == 5:
        break

0
1
2
3
4
5

In [44]:
for i in range(10):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [46]:
i=4
def run (player):
    pass
def ouch (player):
    pass

if i>0:
    pass
    
while i>6:
    pass

print("good morning")

good morning

In [53]:
num =int(input("enter the number"))
for i in range(1,11):
    #print(str(num)+"*"+str(i)+" ="+str(i*num))
    print(f"{num}*{i}={num*i}")

enter the number6
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
6*10=60

In [1]:
l1=["one","two","thre","four","five","six","seven"]

for day in l1:
    
    if day.startswith("s"):
        print("hello "+day)

hello six
hello seven

In [3]:
# 
num = int(input("enter the number:"))
prime = True
for i in range(2,num):
    if(num%i == 0):
        prime = False
        break
        
if prime:
    print("This number is Prime")  
else:
    print("This number is not Prime")

enter the number:8
This number is not Prime

In [7]:
#factorial assingment qution
#n! = 1*2*3*.....*n
#5! = 1+2+3+4+5

num = int (input("Enter The Number:"))
factorial=1
for i in range(1,num+1):
    factorial = factorial * i
    print (f"The Factorial Of {num} Number Is {factorial}")

Enter The Number:10
The Factorial Of 10 Number Is 1
The Factorial Of 10 Number Is 2
The Factorial Of 10 Number Is 6
The Factorial Of 10 Number Is 24
The Factorial Of 10 Number Is 120
The Factorial Of 10 Number Is 720
The Factorial Of 10 Number Is 5040
The Factorial Of 10 Number Is 40320
The Factorial Of 10 Number Is 362880
The Factorial Of 10 Number Is 3628800

In [14]:
n = 4
for i in range(4):
    print("* " *(i+1))

 *
 *  *
 *  *  *
 *  *  *  *

In [15]:
n = 4
for i in range(3):
    #for j in range(n-i-1)
        print(" " * (n-i-1),end="")
        print("*" * (2*i+1),end="")
        print(" " * (n-i-1))

   *
  ***
 *****

In [ ]:
                                     # date of lecture: 04-04=20223
#loops in python
#for loop collections
    range()
    string
    list
    tuple
    set
#loop

#range ([start],stop,[step])
#by defalut start from 0
## by deafult step is 1

In [2]:
num=int(input("enter a number"))
for i in range(1,11):
     print(f"{num}*{i}={num*i}")

enter a number5
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

In [8]:
#direct even number
for i in  range(2, 26,2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24

In [1]:
num=int(input("enter number:"))
fact=1
for i in range (1,num+1):
    fact=fact*i
    print(fact)

enter number:10
1
2
6
24
120
720
5040
40320
362880
3628800

In [ ]:
# while loop
while condition:
    body of the loop

In [32]:
num=int(input("enter number:"))
sum=0
for i in range (0,num+1):
    sum=sum+i
    print(sum)

enter number:5
0
1
3
6
10
15

In [ ]:
# control statment
# break  ----it terminates the loop permannetly
# continue
# pass

In [ ]:
for i in range(1,20):
    if i==7:
        break 
    print(i)

In [ ]:
for i in range(1,20):
    if i==7:
        continue 
    print(i)

In [ ]:
i=10
if i<5:
    pass
else:
    print("hello")