In [ ]:
                                            
                                                  #25-04-2023
                                                    #set

In [ ]:
# Set is also acollection pof element of similar or different datatype
# set is defined in culryt braces
# set is muatble but only by using theri methods
# set is unordered datatype means they have no indexes
# element in set is arranged in random manner
# sets does not allow duplicates values because they don't have indexes

In [1]:
set1={45,69.36,False,"String",(48,96)}
# set only contains datatype which is immutable
print(set1)

{False, (48, 96), 69.36, 'String', 45}

In [2]:
set1={1,2,3,1,2,3,1,2,3}
print(set1)

{1, 2, 3}

In [10]:
#list1=set()
list1={}  
print(type(list1))

<class 'dict'>

In [11]:
list1=set()  
print(type(list1))

<class 'set'>

In [8]:
#list1=(True)
list1=(True,)
print(type(list1))

<class 'bool'>

In [7]:
# set methods
list(dir(set))

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [1]:
                                            # 27-04-2023

set1={34,67,89,34,56}
set2={34,66,89,90,784,45}
#union()------ combines element of two sets
set3=set1.union(set2)
print(set1,set2,set3)

{56, 89, 34, 67} {784, 34, 66, 89, 90, 45} {34, 67, 66, 45, 784, 56, 89, 90}

In [1]:
set1={45,96,87,41,23,69,45,89}
set2={78,96,84,52,14,45,89}
# intersection()--gives common of two sets
# set3=set1.intersection(set2)
set2.intersection_update(set1)
print(set1,set2)

{96, 89, 69, 87, 23, 41, 45} {96, 89, 45}

In [2]:
#add()
set1={45,89,74,21,36}
set1.add("hello")
# add()--add anew element in the set at random position
print(set1)
set1.add("great")
print(set1)

{36, 21, 89, 74, 'hello', 45}
{36, 21, 'great', 89, 74, 'hello', 45}

In [3]:
# pop()--removes random element from the set
set1={45,89,74,21,36,101}
set1.pop()
print(set1)

{101, 21, 89, 74, 45}

In [6]:
# remove(value)----
set1={34,67,89,34,56}

set1.remove(890)
print(set1)

KeyError: 890

In [4]:
# discard()---removes element from set
set1={45,89,74,21,36,101}
set1.discard(8965)
print(set1)

{36, 101, 21, 89, 74, 45}

In [10]:
# discard()---removes element from set
set1={45,89,74,21,36,101}
set1.discard(8965)
print(set1)

{36, 101, 21, 89, 74, 45}

In [9]:
set1={48,96,32}
set1.update((89,))
print(set1)

{48, 89, 32, 96}

In [8]:
set1={48,96,35,45,65}
set2={89,56,21,96,45}
set3=set1.intersection(set2)

set4=set2.copy()
print(set3)
for i in set3:
    set4.remove(i)
    
print(set4)

{96, 45}
{21, 56, 89}

In [7]:
set1={48,96,35,45,65}
set2={89,56,21,96,45}
set3=set()
for i in set2:
    if i not in set1:
        set3.add(i)
print(set3)

{56, 89, 21}

In [6]:
set1={48,96,35,45,65}
set2={89,56,21,96,45}
# set3=set1.difference(set2)
set1.difference_update(set2)
print(set1)

{65, 48, 35}

In [5]:
set1={48,96,35,45,65}
set2={89,56,21,96,45}
set3=set1.symmetric_difference(set2)
print(set3)

{48, 65, 35, 21, 56, 89}

In [11]:
#29=04-2023

set1={4,5,}
set2={7,8,4,5}
set1.issubset(set2)

True

In [13]:
set1={4,5,9}
set2={7,8,4,5,1}
set2.issubset(set1)

False

In [16]:
set1={1,2,3}
set3={4,5,6,1}
set1.isdisjoint(set2)

False

how many element enterd in list :5
Enter Value: 2

TypeError: unhashable type: 'set'