In [1]:
                                                    #23-3-2023
# developer screen
print("User screen")

User screen

In [ ]:
# Escape Sequence
# \n ----newline
# \t ----tab space
# \b ----backspace
# \' --single quote
# \" ---double quote

In [2]:
# Escape Sequence
# string ''    " "    '''  '''     """   """
print("jshfe wehr\thfwerbf \n w\brhfbwerfbwer\b\b rw")  #string

jshfe wehr	hfwerbf
 wrhfbwerfbwer rw

print('Hello \'Wolrd')
print("HEllo \" Workld")
print("""Hello ' " Wolrd""")
print('''Hello wolrd''')

In [5]:
a=45
# value of a is 45
print(f"value of a is {a}") #formatted string

value of a is 45

a=input("Enter Number ")
print(a)

In [ ]:
                                                   #25-3-2023
# how to create variables in python
# variablename=value 
# datatype variablename=value   C 

datatypes are there in python
loosely type language
variable not need datatypes at the time of declaration

variablename our choice but we have to follow some rules

age=18

In [ ]:
# Variablenaming rules--identifier rule
# 1---first character a-z A-Z _
# 2---other characters a-z A-Z _ 0-9

# suggestions
# 1---use a logical name
# 2---don't use space between variablename use _

In [ ]:
age=80
datatypes in python

int ---- 8 9 54 587 545- 89 -859 -565
float--- 878 -989 45.32 -98.32 0.231
String -'' " " ''' ''' """ """
boolean ---True Or False first letter should be capital

In [1]:
age=True
# type(variablename)--gives datatype of variables
print(type(age))

<class 'bool'>

In [2]:
# how to use variables inside print()
d1="hello"
d2=81
print(d1,d2)
# d1 i am d2
# hello i am 81
# formatted string
print(f"{d1} i am {d2} rgerg {d1} wfgwergf{d2}")

hello 81
hello i am 81 rgerg hello wfgwergf81

In [3]:
# how to take user input in python
# input(["Message"])
name=input("Enter Your Name: ")
print(f"Your name is {name}")

Enter Your Name: avani tejani
Your name is avani tejani

In [4]:
var1=int(input("Enter Something: "))
print(type(var1))

Enter Something: 22
<class 'int'>

In [5]:
# Type Conversion
a=18
str(a) int
float bool

SyntaxError: invalid syntax (2183453564.py, line 3)

In [6]:
# id() --gives variable location or id
a=17
b=45
print(id(a))
print(id(b))

2694744441584
2694744442480

In [ ]:
# operators
# arithmetic operator + - * / //(floor division) %(modulus) **(power)
# relational operator > < >= < = == !=
# logical operator and or not
# assignement operator = += -= /= *= **= //=
# bitwise operator & | >> <<
# identity operator    is ....is not
# membership operator    in....... not in

In [7]:
print(48//9)

5

In [9]:
# arithmetic Operators
print(10+20)
print(50-69)
print(10*58)
print(89/23)
print(48%5)
                                       #28-3-2023
print("-------------")
# floor division
print(83/4)
print(83//4)

print("-------------")
# power operator **
print(3**3)

30
-19
580
3.869565217391304
3
-------------
20.75
20
-------------
27

In [10]:
# relational operator > < >= <= == !=
print(89>25)
print(33<12)

True
False

In [11]:
print("hello">"demo")

True

In [12]:
name=input("Enter your Name: ")
age=int(input("Enter Your Age: "))
mobile=int(input("Enter Your Mobile No. : "))
email=input("Enter Your Email: ")
print(f"Your Name is {name}\nYour age is {age}\nYour mobile is {mobile}\nYour email is {email}")

Enter your Name: avani
Enter Your Age: 21
Enter Your Mobile No. : 9265586214
Enter Your Email: avanitejanii@gmail.com
Your Name is avani
Your age is 21
Your mobile is 9265586214
Your email is avanitejanii@gmail.com

In [13]:
firstname=input("Enter First NAme: ")
lastname=input("Enter Last name: ")
fathername=input("Enter Father NAme: ")
fullname=firstname+" "+lastname+" "+fathername #string concatenation
# your fullname is {fullname}
# your full name is firstname lastname fathername
print(f"Your full name is {fullname}")

Enter First NAme: avani
Enter Last name: tejani
Enter Father NAme: k
Your full name is avani tejani k

In [14]:
str1='''Hello ia m good
How are you
good morning '''
print(str1)

Hello ia m good
How are you
good morning

In [ ]:
# Logical operator
AND and --all true then true anyone flase then false
OR  or --anyone true then true if all flase then false
NOT not --reverse your answer

In [16]:
# biotwise operator
print(88&94)
print(88|94)

88
94

In [17]:
print(125&97)
print(48|84)

97
116

In [ ]:
                                                #30-3-2023

In [ ]:
Bitwise left shift operator <<
bitwise right operator >>
bitwise XOR ^

In [1]:
print(85^97)
print(105^121)

52
16

In [2]:
# bitwise right shift operator  >>
89>>3
# bitwise left shift operator <<
115<<3

920

In [ ]:
# conditional statments
simple if
if else
if elif elif elif.......else ladder if else
nested if else

In [ ]:
# simple if
if condition:
    thrthrththrthrth
    rthhrthrthrthrth
    rthrthrthrthrthrt
    rthrthrthrthrt
    rhhrthrthrthrt
    hrthrthrhhrth

In [3]:
age=int(input("Enter Age: "))
if age>18:
    print("Adult")

Enter Age: 21
Adult

In [ ]:
# if else:
if condition:
    body
else:
    body

In [5]:
age=int(input("Enter Age: "))
if age>18:
    print("Adult")
else:
    print("Young")

Enter Age: 12
Young

In [ ]:
# ladder if else
if condition1:
    body
elif condition2:
    body
elif condition3:
    body

In [6]:
num=int(input("Enter A Number: "))
if num>0:
    print("Positive")
elif num<0:
    print("negative")
else:
    print("Zero")

Enter A Number: 0
Zero

In [7]:
a=int(input("ENter A Number: "))
b=int(input("ENter A Number: "))
c=int(input("ENter A Number: "))
if a>b:
    if a>c:
        print(f"{a} is greater")
    else:
        print(f"{c} is greater")
else:
    if b>c:
        print(f"{b} is greater")
    else:
        print(f"{c} is greater")

ENter A Number: 2
ENter A Number: 6
ENter A Number: 8
8 is greater